# Bo qua moi truong ao cua Python
backend/venv/
backend/.venv/
backend/__pycache__/
# Bo qua thu vien Frontend
frontend/node_modules
frontend/.next/
# Go build artifacts
backend/*.exe

# Bo qua file bao mat
.env
.env.ai
.env.development
.env.production
!.env.example
backend/.env
frontend/.env.local

backend/.env.production
*.log
vendor/